{namespace Confluence.Templates.ABTesting.featurebattle}

/**
 * Renders a Feature Battle
 */
{template .display}
<div class="feature-battle">
{
  '<ac:macro ac:name="include">
    <ac:default-parameter>ABTEST:b1_good_old</ac:default-parameter>
  </ac:macro>'
}
</div>
{/template}