{namespace Confluence.Templates.ABTesting.featurebattle}

/**
 * Renders a project page
 * @param macroDef The Experiment
 */
{template .display}
<div class="project">
	<h1>$macroDef.type()</h1>
</div>
{/template}