{namespace Confluence.Templates.ABTesting.featurebattle}

/**
 * Renders a Feature Battle
 * @param action
 * @param experiment
 */
{template .display}
<div class="feature-battle">
    getText( $action.getHelper().renderConfluenceMacro( $experiment.render() ) )
</div>
{/template}